@import 'variables'

.btn
  font-size $font-size-sm
  text-align center
  padding 5px 10px
  outline 0
  background #fff
  border 1px solid #dfdfdf
  border-radius $border-radius
  box-shadow 2px 2px 2px rgba(0,0,0,.03)

.btn-block
  display block

.btn-primary
  background $btn-primary-bg
  border-color $btn-primary-border
  color $btn-primary-color
  font-weight 600
