@import 'variables'

.comment-list
  .card-header
    border-bottom none
  .card-footer
    border-top 1px solid $grey-lighter
.comment-item
  .comment-item-header
    display flex
    justify-content space-between
  .metadata 
    color $grey-light
.user-comment-item
  border-bottom none
  .user-comment-header
    display flex
    align-items center
    justify-content space-between
    margin -9px -12px 0
    padding 9px 12px
    background rgb(251, 248, 238)
    box-shadow 0 0 3px 3px rgba(255, 247, 133, 0.1) inset
    font-size $font-size-sm
    .metadata 
      color $grey-light
      font-size 12.8px