.container
  width 1140px
  max-width 100%
  margin 0 auto
  display flex
  flex-flow row wrap
  align-items flex-start
  justify-content space-between

.content
  flex-basis 840px
  max-width 100%
  overflow auto
  align-self flex-start

.aside
 flex-basis 280px
 align-self flex-start